@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #6d4ad3;
  --color-primary-dull: #6340c1;
  --color-light: #f5f5fd;
  --color-borderColor: #c4c7d2;
}
